<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Zuora.BaseUrl" value="https://rest.apisandbox.zuora.com" />
      <setting name="Zuora.ClientId" value="YOUR_OAUTH_CLIENT_ID" />
      <setting name="Zuora.ClientSecret" value="YOUR_OAUTH_CLIENT_SECRET" />
      <setting name="Zuora.PaymentForm.PublishableKey" value="pk_sandbox_xxxxx" />
      <setting name="Zuora.PaymentForm.Environment" value="sandbox" />
      <setting name="Zuora.GatewayInstanceName" value="AdyenV2_GW_01" />
      <setting name="Datadog.ApiKey" value="" />
      <setting name="Datadog.Site" value="datadoghq.com" />
      <setting name="Datadog.Environment" value="sandbox" />
      <setting name="Datadog.Service" value="sitecore-payments" />
      <setting name="Datadog.Source" value="sitecore" />
      <setting name="Datadog.Logs.DirectHttp" value="false" />
      <setting name="Datadog.Logs.Directory" value="C:\inetpub\logs\sitecore-payments" />
    
      <setting name="Redis.Catalog.ConnectionString" value="localhost:6379,defaultDatabase=0" />
      <setting name="Redis.Catalog.KeyPrefix" value="sitecore:zuora" />
      <setting name="Redis.Catalog.TtlSeconds" value="600" />
    
      <setting name="Redis.Catalog.AdminSecret" value="" />
    </settings>
    <services>
      <configurator type="Your.Feature.Payments.Startup.ServicesConfigurator, Your.Feature.Payments" />
    </services>
  </sitecore>
</configuration>
